@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --color-gradient-start: #e6f1c4;
    --color-gradient-stop: #c7e8d7;
    --color-greenish-beige: #cadc63;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}

body{
    background-color: #FAF9F6;
}

#navbarUser{
    background-color: red;
}

.navbar{
    background-color:transparent !important;
    max-width:100%; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.Icon-Nav{
    width:1.5vw;
    height:1.5vw;
}

.Icon-Nav-Title{
    width:3vw;
    height:3vw;
    object-fit:cover;
}

#Home-Icon{
    background-color:white;
}

.menu-option{
    height:5vh;
}

#Dashboard-Menu{
    background-color:black;
}

#sidebar{
    /* border-right:1px solid black; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    background-image:linear-gradient(to right, var(--color-gradient-start),var(--color-gradient-stop));

}

#Amount-1,#Amount-2,#Amount-3{
    color: #353935;
}

#Amount-1{
    background-color:#AFE1AF;

}

#Amount-2{
    background-color:#AFE1AF;
}


#Amount-3{
    background-color:#AFE1AF;
}

#main-content{
    margin-left:20%;
}
.table{
    border:1px solid black;
}

